<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <h1> This is the BRUNA APP! </h1>
          <nav>
              <a href="/">Home</a>
              |
              <a href="/new">Say nice things about my DOG!</a>
          </nav>
             <img src="https://i.imgur.com/A8Mx3K7.jpg" title="source: imgur.com"></a>
    </header>

    <main>