<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Bruna</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/dogs">Dogs List</a> |
      <a href="/dogs/new">Add a Pup</a> |
      <a href="/owners">Human List</a> |
      <a href="/owners/new">Add an Human</a>
      <div>
       <!-- <img src="https://i.imgur.com/A8Mx3K7.jpg" title="source: imgur.com"></a>   -->
      </div>
    </nav>
  </header>

  <main>
    










 