<%- include('./partials/header.ejs') %>

  <h2>I LOVE MY DOG!!</h2>

  <p>If you have anything negative to say about this angel... </p>
  <strong>THEN YOU'RE DEAD TO ME!!!</strong>
  <p>also... what's wrong with you?!</p>


<%- include('./partials/footer.ejs') %>