body {
  background-color: skyblue;
  width: 90%;
  margin: 0 auto;
}

/*footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}*/
header, footer {
  background-color: rgb(63, 63, 63);
  color: rgb(223, 223, 223);
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
}

header a, footer a {
  color: whitesmoke;
  text-decoration: underline;
}

main {
  padding: 20px;
  background-color: rgba(63, 63, 63, 0.2);
}

img {
	width: 95%;
	height: 75%;
}


label, footer {
    font-family: sans-serif;
}

label {
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
}

.output {
    background: center/cover no-repeat url('/media/examples/hamster.jpg');
    position: relative;
}