body {
  background-color: skyblue;
  width: 90%;
  margin: 0 auto;
}

header, footer {
  background-color: rgb(63, 63, 63);
  color: rgb(223, 223, 223);
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
}

header a, footer a {
  color: whitesmoke;
  text-decoration: underline;
}

main {
  padding: 20px;
  background-color: rgba(63, 63, 63, 0.2);
}

img {
	width: 95%;
	height: 75%;
}