<%- include('../partials/header.ejs') %>

  <h2>Look at These Pups!</h2>

  <ul>
    <% dogs.forEach((dog) => { %>
      <li>
        <div>
          <%= dog.dogName %>
        </div>
        <div>
          (owner: <%= dog.owner.name %>)
        </div>
      </li>
    <% }) %>
  </ul>


<%- include('../partials/footer.ejs') %>