<%- include('../partials/header.ejs') %>

  <h1>Say nice things about your DOG!</h1>

  <form method="POST" action="/dogs">
    <fieldset>
  <div>
    <label for="owner-select">Choose Owner:</label>
    <select name="owner" id="owner-select">
      <option value="" disabled selected>(choose an owner)</option>
      <% owners.forEach((owner) => { %>
        <option value="<%= owner.id %>"><%= owner.name %></option>
      <% }) %>
    </select>        
  </div>


    <fieldset>
      <label for="dogName">Name:</label>
      <input 
        id="dogName" 
        type="text" 
        name="dogName" 
        placeholder="Enter Dog's Name" 
      />
    </fieldset>

    <fieldset>
      <label for="mood">What's youd dog's mood?:</label>
      <input 
        id="mood" 
        type="text" 
        name="mood" 
        placeholder="What's your dog's mood?" 
      />
    </fieldset>
    </fieldset>
    <button>Create Pup!</button>
  </form>

<%- include('../partials/footer.ejs') %>