<%- include('../partials/header.ejs') %>

  <h2>Some Humans are OK, I guess</h2>

  <ul>
    <% owners.forEach(owner => { %>
      <li>
        <a href="/owners/<%= owner.id %>">
          <%= owner.name %>
        </a>
      </li>
    <% }) %>
  </ul>

<%- include('../partials/footer.ejs') %>