<%- include('../partials/header.ejs') %>

  <h2>Some Humans are OK, I guess</h2>

  <ul>
    <% owners.forEach(owner => { %>
      <li>
        <%= owner.name %>
      </li>
    <% }) %>
  </ul>

<%- include('../partials/footer.ejs') %>