<%- include('../partials/header.ejs') %>


<h2>Create New Owner</h2>

  <form>
    <fieldset>
      <label for="name">Name:</label>
      <input 
        id="name" 
        type="text" 
        name="name" 
        placeholder="Enter Dog Owner's Name" 
      />
    </fieldset>

    <fieldset>
      <label for="scratchesToGive">Do you Give Scratches?</label>
      <input id="scratchesToGive" type="checkbox" name="scratchesToGive">
    </fieldset> 


    <button>Add Human</button>   
  </form>


<%- include('../partials/footer.ejs') %>