<%- include('../partials/header.ejs') %>


<h2>Create New Owner</h2>

  <form method="POST" action="/owners">
    <fieldset>
      <label for="name">Name:</label>
      <input 
        id="name" 
        type="text" 
        name="name" 
        placeholder="Enter Dog Owner's Name" 
      />
    </fieldset>

    <fieldset>
      <label for="scratches">Talk about scratching your dog:</label>
      <input 
        id="scratches" 
        type="text" 
        name="scratches" 
        placeholder="Talk about scratching your dog" 
      />
    </fieldset>



    <button>Add Human</button>   
  </form>


<%- include('../partials/footer.ejs') %>